.cell:nth-child(1),
.cell:nth-child(10),
.cell:nth-child(19),
.cell:nth-child(28),
.cell:nth-child(37),
.cell:nth-child(46),
.cell:nth-child(55),
.cell:nth-child(64),
.cell:nth-child(73)
{
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.cell:nth-child(2),
.cell:nth-child(11),
.cell:nth-child(20),
.cell:nth-child(29),
.cell:nth-child(38),
.cell:nth-child(47),
.cell:nth-child(56),
.cell:nth-child(65),
.cell:nth-child(74)
{
    -webkit-transition: all 1s ease .05s;
    transition: all 1s ease .05s;
}

.cell:nth-child(3),
.cell:nth-child(12),
.cell:nth-child(21),
.cell:nth-child(30),
.cell:nth-child(39),
.cell:nth-child(48),
.cell:nth-child(57),
.cell:nth-child(66),
.cell:nth-child(75)
{
    -webkit-transition: all 1s ease .1s;
    transition: all 1s ease .1s;
}

.cell:nth-child(4),
.cell:nth-child(13),
.cell:nth-child(22),
.cell:nth-child(31),
.cell:nth-child(40),
.cell:nth-child(49),
.cell:nth-child(58),
.cell:nth-child(67),
.cell:nth-child(76)
{
    -webkit-transition: all 1s ease .15s;
    transition: all 1s ease .15s;
}

.cell:nth-child(5),
.cell:nth-child(14),
.cell:nth-child(23),
.cell:nth-child(32),
.cell:nth-child(41),
.cell:nth-child(50),
.cell:nth-child(59),
.cell:nth-child(68),
.cell:nth-child(77)
{
    -webkit-transition: all 1s ease .2s;
    transition: all 1s ease .2s;
}

.cell:nth-child(6),
.cell:nth-child(15),
.cell:nth-child(24),
.cell:nth-child(33),
.cell:nth-child(42),
.cell:nth-child(51),
.cell:nth-child(60),
.cell:nth-child(69),
.cell:nth-child(78)
{
    -webkit-transition: all 1s ease .25s;
    transition: all 1s ease .25s;
}

.cell:nth-child(7),
.cell:nth-child(16),
.cell:nth-child(25),
.cell:nth-child(34),
.cell:nth-child(43),
.cell:nth-child(52),
.cell:nth-child(61),
.cell:nth-child(70),
.cell:nth-child(79)
{
    -webkit-transition: all 1s ease .3s;
    transition: all 1s ease .3s;
}

.cell:nth-child(8),
.cell:nth-child(17),
.cell:nth-child(26),
.cell:nth-child(35),
.cell:nth-child(44),
.cell:nth-child(53),
.cell:nth-child(62),
.cell:nth-child(71),
.cell:nth-child(80)
{
    -webkit-transition: all 1s ease .35s;
    transition: all 1s ease .35s;
}

.cell:nth-child(9),
.cell:nth-child(18),
.cell:nth-child(27),
.cell:nth-child(36),
.cell:nth-child(45),
.cell:nth-child(54),
.cell:nth-child(63),
.cell:nth-child(72),
.cell:nth-child(81)
{
    -webkit-transition: all 1s ease .4s;
    transition: all 1s ease .4s;
}

.app-ready .cell {
    -webkit-transform: perspective(1300px);
    transform: perspective(1300px);
}
.app-ready .cell.closed {
    -webkit-transform: perspective(1300px) rotateY(-90deg);
    transform: perspective(1300px) rotateY(-90deg);
}
