.block:nth-child(1) {
  transition: transform 500ms ease 1s;
}
.block:nth-child(2) {
  transition: transform 500ms ease 2s;
}
.block:nth-child(3) {
  transition: transform 500ms ease 3s;
}
.block:nth-child(4) {
  transition: transform 500ms ease 4s;
}
.block:nth-child(5) {
  transition: transform 500ms ease 5s;
}
.block:nth-child(6) {
  transition: transform 500ms ease 6s;
}
.block:nth-child(7) {
  transition: transform 500ms ease 7s;
}
.block:nth-child(8) {
  transition: transform 500ms ease 8s;
}
.block:nth-child(9) {
  transition: transform 500ms ease 9s;
}
